<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Project 2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
 
  
</head>

<body>
  
  <div class="jumbotron">
    <h1 data-anijs="if: mouseover, do: rotateIn animated, to $parent target">Go Home You're Drunk?</h1>
    <p>Please use the app below to determine if you should keep drinking or go home.</p>
  </div>

    <!--Input Form for Drink-->
    <div class = "container">
      <div class="row margin-top-50">
        <div class="col-md-3">
          <aside class="filters">
            <div class="panel panel-default">
              <div id="main" data-anijs="if: mouseover, do: swing animated" class="panel-heading">What are you drinking?</div>
              <div class="panel-body">
                <form method=post name=bacform>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <!-- <select type="button" class="form-control btn btn-success" data-toggle="dropdown"> -->
                      <option href="#" class="dropdown-item">Drink Name</option>
                      </select>
                    </div>
                    <input type="text" id="drinkinput" name=drink class="form-control" placeholder="Margarita">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <option href="#" class="dropdown-item">Ounces</option>
                      </select>
                    </div>
                    <input type="text" id="input" name=ounces class="form-control" placeholder="8">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <option href="#" class="dropdown-item">Your Weight (lbs)</option>
                      </select>
                    </div>
                    <input type="text" id="input" name=weight class="form-control" placeholder="180">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <option href="#" class="dropdown-item">Your Gender</option>
                      </select>
                    </div>
                    <div class = "form-check">
                      <label class="form-check-label">
                        <input type="radio" id="#GenderInput" name=gender  class="form-check-input" value="F"
                        checked> F     
                      </label>
                    
                  </div>
                  <div class = "form-check">
                    <label class="form-check-label">
                      <input type="radio" id="#GenderInput" name=gender class="form-check-input" value="M" 
                      checked> M    
                    </label>
                  </div>
                  <div class = "form-check">
                    <label class="form-check-label">
                      <input type="radio" id="#GenderInput" name=gender class="form-check-input" value="Not Saying" 
                      checked> Not Saying     
                    </label>
                  </div>  
                <div class="input-group">
                    <div class="input-group-prepend">
                      <option href="#" class="dropdown-item">Time since last drink (hrs)</option>
                      </select>
                    </div>
                    <input type="text" id="input" name=hours class="form-control" placeholder="2">
                  </div>
                  <button data-anijs="if: click, do: flipInY animated"id="filter-btn" type="button" class="btn btn-default"
                    onClick="javascript:solveBAC(this.form)">Enter</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
  
        <!--Drink Output-->
            <div class= "container">
              <div class="col-md-3">
                <form method=post name=bacform>
                <div id="table-area" class="">
                  <table id="bac-table" class="table table-striped">
                    <thead>
                      <tr>
                        <th class="table-head">Drink</th>
                        <th class="table-head">ABV</th>
                        <th class="table-head">Spirit</th>
                        <!--<th class="table-head">Image</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><p id="drinkOutput"></p></td>
                        <td><p id="ABVOutput"></p></td>
                        <td><p id="LiquorOutput"></p></td>
                        <!-- <td><img id="drinkImage" src="https://static01.nyt.com/images/2019/05/19/magazine/19Studies_01/42ae82a8ab644d10a60cc719da368d7c-jumbo.jpg?quality=90&auto=webp" width="250"
                            height="180"></td>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                </form>
            </div>
                <!-- Map appears here -->
                <div class ="container">
                  <div class="col-md-6">
                    <div id="panel"></div>
                    <div id="map"></div>
                      <iframe id="map-iframe" src="../static/html/Bus_stop.html" width="500" height="400"></iframe>
                   </div>
                   </div>
                  </div>
        <!--BAC Output-->
        <div class = "container">
          <div class = "row margin-top-50">
                    <!-- Plot appears here -->
          <div class="col-md-6">
            <div id="plot"></div>
           
            <div id="panel"></div>
           </div>
        <div class ="container">
            <div class="col-md-6">
              <div id="table-area">
                <table id="bac-table" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="table-head">BAC Percentage</th>
                      <th class="table-head">Assessment</th>
                      <th class="table-head">Judgement</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><p id="bacamount"></p></td>
                      <td><p id="message"></p>
                      </td>
                      <td><img id="myImage" src="https://media.giphy.com/media/q6QHDGE3X4EWA/giphy.gif" width="200"
                        height="180"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../static/js/plot.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
      <script src="../static/js/bac_calculation.js"></script>
      <!--New Library (AniJS) scripts (also added stuff to style CSS)-->
      <!-- AniJS core library -->
      <script src="https://anijs.github.io/lib/anijs/anijs-min.js"></script> 
  
      <!-- Include to use $addClass, $toggleClass or $removeClass -->
      <script src="https://anijs.github.io/lib/anijs/helpers/dom/anijs-helper-dom-min.js"></script>

      <!-- The scrollreveal helper
      <script src="https://anijs.github.io/lib/anijs/helpers/scrollreveal/anijs-helper-scrollreveal-min.js"></script>-->
     
</body>

</html>
